{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="contact-section">
    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions, feel free to reach out by filling out the form below.</p>

    {% if success %}
      <p class="success-message">Thanks! Your message has been sent.</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Message</button>
    </form>

    <div class="back-link">
    <a href="{% url 'testimonial_list' %}">← Back</a>
    </div>

  </section>
{% endblock %}
